<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cyclone Trains</title>
</head>
<body style="padding: 4%; padding-top: 1%; font-family: Helvetica, sans-serif">

    {{{body}}}

</body>
</html>
