
    <h1>Welcome to Cyclone Trains Database</h1>
    <a href="/arrivals">Manage and View Arrival Stations</a> <!--Anchor tag used to link to other pages-->
    <br>
    <a href="/departures">Manage and View Departure Stations</a>
    <br>
    <a href="/passengers">Manage and View Passengers</a> 
    <br>
    <a href="/tickets">Manage and View Tickets</a> 
    <br>
    <a href="/trains">Manage and View Trains</a>
    <br>
    <a href="/trips">Manage and View Trips</a>
    <br>

